@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #9622a5;
  --foreground: #3cfb46;
}

[data-theme="dark"] {
  :root {
      --background: #303030;
      --foreground: #a6a0fc;
  } 
}

@font-face {
  font-family: "Excalifont";
  src: url("fonts/Excalifont-Regular.woff2");
}

@font-face {
  font-family: "Comfortaa";
  src: url("fonts/Comfortaa-Regular.ttf");
}