@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #303030;
  --background: #f6f5ff;
}

[data-theme="dark"] {
  :root {
      --background: #303030;
      --foreground: #f6f5ff;
  } 
}

@font-face {
  font-family: "Excalifont";
  src: url("fonts/Excalifont-Regular.woff2");
}

@font-face {
  font-family: "Comfortaa";
  src: url("fonts/Comfortaa-Regular.ttf");
}